
@using LangResources.Utility
@using SnitzConfig
@using WWW.Views.Helpers

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
        <h4 class="modal-title">License</h4>
    </div>
    <div class="modal-body">
        <p>This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.</p>
        <p>All copyright notices regarding Snitz Forums 2000/Snitz Forums Mvc must remain intact in the scripts and in the outputted HTML.</p>
        <p>This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.</p>

        <p>You should have received a copy of the GNU General Public License along with this program. If not, see <a href="http://www.gnu.org/licenses/" title="Gnu org website">http://www.gnu.org/licenses/</a>. </p>

        <p>Snitz Forums Mvc is using third party software that have their own licenses. Refer to <b>About</b> to view the list of software used by Snitz Forums Mvc.</p>

    </div>
</div>
