@using LangResources.Utility
@using SnitzConfig
@using WWW.Views.Helpers

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
        <h4 class="modal-title" id="myModalLabel">Privacy Policy</h4>
    </div>
    <div class="modal-body">
        <p>Your privacy is important for us and we want to lead by example, using the latest user privacy choice standards in our own production environment. This privacy policy describes our practices for management of your data collected by our web application.
        </p>
        <p>Our website does collect the absolute minimum of typical web server log data (IP address of your web browser, web browser name and referrer). This non-identifying information may persist on our servers for a period of up to five weeks after which it's deleted by log file rotation. The primary purpose of this data is to diagnose application, web server and network issues.
        </p>
        <p>We may display social buttons from Facebook, Google+, LinkedIn and Twitter. Each of these companies may perform their own user tracking so we follow the Do Not Track (DNT) standard and disable their code if your browser is configured to send the DNT header.
        </p>

        <p>Our website sets a few first-party cookies, all of which are strictly technical and necessary:</p>
        <p>Snitz Forums and the Snitz Forums logo are properties of Snitz&trade; Forums 2000.</p>
    </div>
</div>
Your privacy is important for us and we want to lead by example, using the latest user privacy choice standards in our own production environment. This privacy policy describes our practices for management of your data collected by our web application.





@*csrftoken is a session HTTP cookie valid only for current browser session and used to prevent CSRF attacks.
sessionid is a persistent HTTP cookie and is only set when you authenticate to our website and holds your authentication token which is valid for 7 days.
cookieconsent_status is a persistent HTTP cookie that holds your cookie consent status once you have clicked the consent pop-up once to prevent it from appearing each time you visit our page. The cookie is valid for one year.
Our website will also set a number of third-party cookies originating from the aforementioned social websites and you can view a detailed list of these cookies. These cookies are not set when Do Not Track (DNT) is enabled.

Please contact us for any further questions.*@
