@{
    ViewBag.Title = "Email change Completed";
}
<div class="container text-center">
<h5>Email change Completed</h5>
<p>Your email address has been changed.</p>
    <p>@Html.ActionLink("Back to Forum","Index","Home")</p>

</div>