
@using WWW.Views.Helpers
@model WWW.Controllers.ChartModel
<div class="row-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Posts By Year

        </div>
        <div class="panel-body">
            @Html.Partial("_Chart", new ViewDataDictionary { { "type", "years" } })
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading form-inline">
            <label>Posts By Month</label>
            <div class="input-group input-group-sm col-xs-2 pull-right">
                <select id="year-select" class="form-control">
                    @for (int i = Convert.ToInt32(Model.MinYear); i < Convert.ToInt32(Model.MaxYear) + 1; i++)
                    {
                        <option value="@i" @if(i==Convert.ToInt32(Model.MaxYear)){@Html.Raw("selected")}>@i</option>
                    }
                </select>
            </div>
        </div>
        <div class="panel-body">
            @Html.Partial("_Chart", new ViewDataDictionary { { "type", "months" } })
        </div>
    </div>
</div>


@using (Html.BeginScripts())
{

    <script type="text/javascript">
        $("#year-select").on("change",
            function () {
                var id = this.value;
                GetPostsByMonth(id);
                //$("#posts-month").attr("src", window.SnitzVars.baseUrl + "Charts/PostsByMonth/" + id);
            });
    </script>
}
