@using SnitzCore.Extensions
@using SnitzDataModel.Extensions
@using WWW.Views.Helpers
@model IEnumerable<SnitzDataModel.Models.Subscriptions>

<tr class="bg-info"><td colspan="5" class="bg-primary">Board Subscriptions</td></tr>

@foreach (var subscriptions in Model)
{
    <tr>
        <td colspan="2">
            @Html.Raw("Board Level Subscription")
        </td>
        <td>
            @Html.DisplayFor(modelItem => subscriptions.Username)
        </td>
        <td></td>
        <td>@Html.ActionLinkConfirm("Remove subscription", "RemoveSubscription", "Admin", new { id = subscriptions.Id }, "fa fa-trash-o fa-1_5x") <input name="del-subs" value="@subscriptions.Id" type="checkbox" class="selector" /></td>
    </tr>
}