@using LangResources.Utility
@using SnitzConfig
@using SnitzDataModel.Extensions
@model string
@using WWW.Views.Helpers


@{
                /**/

                ViewBag.PageTitle = Model + "/Mod Configuration";
                ViewBag.SubmitButton = "";
                Layout = "~/Views/Admin/_Layout.cshtml";
}

@if (Config.TableExists("CAL_EVENTS"))
{
    <div class="panel panel-primary panel-body clearfix">
        @Html.Action("Admin", Model)
    </div>

}
else
{
    <div class="panel panel-primary panel-body clearfix">
        Mod not installed
    </div>
}

