/* Round cornered boxes and backgrounds
---------------------------------------- */
#wrap {
  background-color: transparent;
}
/*#wrap-subhead .chunk {
    background-color: #f0f0f0;
    border-color: #E6E6E6;
}*/


#page-footer {
  background-color: #46494f;
}
.forabg .header,
.forumbg .header {
    background-color: #d3d6a9;
    color: #f4f6e7;
}
.forabg .row:first-child,
.forumbg .row:first-child {

    border-top-color: #f0f0f0;
}
.forabg .header a{
	color:#333;
}
.forabg .row,
.forumbg .row {
	background-color: #F0F0F0;
  border-left-color: #F0F0F0;
  border-right-color: #F0F0F0;
}
.forabg .row:last-child,
.forumbg .row:last-child {
  border-bottom-color: #F0F0F0;
}
.forabg .row dl,
.forumbg .row dl {
  background-color: #FFF;

}
.panel {
  background-color: #FFF;
  border-color: #EBEBEB;
  color: #46494f;
}
form.panel {
	border-width:0px;
}
.panel:nth-child(2n) {
  background-color: #FAFAFA;
}
.post {
  background-color: #FFF;
  border-color: #EBEBEB;
}
.post:target {
  animation-duration: 3s;
  animation-name: TargetGlow;
  animation-timing-function: ease-in-out;
}
@keyframes TargetGlow {
  from {
      border-color: #4575b4;
      border-color: rgba(69, 117, 180, 0.25);
  }
  75% {
      border-color: #4575b4;
      border-color: rgba(69, 117, 180, 0.25);
  }
  to {
    border-color: #EBEBEB;
  }
}

.bg1 {
  background-color: #FFF;
}
.bgheader {
    background-color: #BCBF97;
}
.bg2 {
  background-color: #efefef;
}
.bg3 {
  background-color: #FFF;
}

div.col-xs-12.bg2, div.col-xs-12.bg1 {
    background-color: #BCBF97;
    color: #333;
}

div.col-xs-12.bg2 a, div.col-xs-12.bg1 a {
    color: #333;
}
/* Misc layout styles
---------------------------------------- */
a.topictitle,
a.lastsubject {
  color: #46494f;
}
.forums .posts dfn,
.forums .redirect span,
.forums .topics dfn,
.forums .redirect span,
.topics .posts dfn,
.topics .views dfn {
    color: #8d939e;
    font-style: normal;
}

.forums dt .ico_forum_poll,
.forums dt .ico_forum_event,
.forums dt .ico_forum_poll_locked,
.forums dt .ico_forum_event_locked,
.forums dt .ico_forum_poll_event,
.forums dt .ico_forum_poll_event_locked,
.forums dt .ico_forum_read,
.forums dt .ico_forum_read_locked,
.forums dt .ico_forum_read_subforum,
.forums dt .ico_forum_link {
    background-color: #F0F0F0;
    color: #8D939E;
}

.forums dt .ico_forum_unread,
.forums dt .ico_forum_unmoderated,
.forums dt .ico_forum_unread_subforum,
.forums dt .ico_forum_poll_unread,
.forums dt .ico_forum_event_unread,
.forums dt .ico_forum_poll_unread_locked,
.forums dt .ico_forum_event_unread_locked,
.forums dt .ico_forum_poll_event_unread,
.forums dt .ico_forum_poll_event_unread_locked,
.forums dt .ico_forum_unread_locked {
    background-color: #F57676;
    color: #FAFAFA;
}

.forums .row:hover .ico_forum_link,
.forums .row:hover .ico_forum_unmoderated,
.forums .row:hover .ico_forum_read,
.forums .row:hover .ico_forum_read_locked,
.forums .row:hover .ico_forum_unread,
.forums .row:hover .ico_forum_unread_locked,
.forums .row:hover .ico_forum_read_subforum,
.forums .row:hover .ico_forum_poll,
.forums .row:hover .ico_forum_event,
.forums .row:hover .ico_forum_poll_locked,
.forums .row:hover .ico_forum_event_locked,
.forums .row:hover .ico_forum_poll_unread,
.forums .row:hover .ico_forum_event_unread,
.forums .row:hover .ico_forum_poll_event,
.forums .row:hover .ico_forum_poll_event_locked,
.forums .row:hover .ico_forum_poll_event_unread,
.forums .row:hover .ico_forum_poll_event_unread_locked,
.forums .row:hover .ico_forum_unread_subforum {
    background-color: #E1E1E1;
    color: #3C3C3C;
}

.topics dt .ico_topic_moved,
.topics dt .ico_topic_read,
.topics dt .ico_topic_read_mine,
.topics dt .ico_topic_read_locked,
.topics dt .ico_topic_read_locked_mine,
.topics dt .ico_topic_read_hot,
.topics dt .ico_topic_read_hot_mine,
.topics dt .ico_topic_event,
.topics dt .ico_topic_poll,
.topics dt .ico_sticky_read,
.topics dt .ico_sticky_read_mine,
.topics dt .ico_sticky_read_locked,
.topics dt .ico_sticky_read_locked_mine,
.topics dt .ico_sticky_read_hot,
.topics dt .ico_sticky_read_hot_mine,
.topics dt .ico_sticky_read_locked_hot,
.topics dt .ico_sticky_read_locked_hot_mine,
.topics dt .ico_global_read,
.topics dt .ico_global_read_mine,
.topics dt .ico_global_read_locked,
.topics dt .ico_topic_read_locked_hot,
.topics dt .ico_global_read_locked_mine {
    background-color: #F0F0F0;
    color: #8D939E;
}

.topics dt .ico_topic_unmoderated,
.topics dt .ico_topic_onhold,
.topics dt .ico_topic_unread,
.topics dt .ico_topic_unread_locked,
.topics dt .ico_topic_unread_hot,
.topics dt .ico_sticky_unread,
.topics dt .ico_sticky_unread_locked,
.topics dt .ico_sticky_unread_hot,
.topics dt .ico_sticky_unread_locked_hot,
.topics dt .ico_global_unread,
.topics dt .ico_topic_event_unread,
.topics dt .ico_topic_poll_unread,
.topics dt .ico_topic_unread_locked_hot,
.topics dt .ico_global_unread_locked {
    background-color: #F57676;
    color: #FAFAFA;
}

.topics dt .ico_topic_unread_mine,
.topics dt .ico_topic_unread_locked_mine,
.topics dt .ico_topic_unread_hot_mine,
.topics dt .ico_sticky_unread_locked_mine,
.topics dt .ico_sticky_unread_mine,
.topics dt .ico_sticky_unread_hot_mine,
.topics dt .ico_global_unread_mine,
.topics dt .ico_global_unread_locked_mine {
    background-color: #F57600;
    color: #FAFAFA;
}

.topics .row:hover .ico_topic_unmoderated,
.topics .row:hover .ico_topic_onhold,
.topics .row:hover .ico_topic_moved,
.topics .row:hover .ico_topic_read,
.topics .row:hover .ico_topic_read_mine,
.topics .row:hover .ico_topic_unread,
.topics .row:hover .ico_topic_unread_mine,
.topics .row:hover .ico_topic_read_hot,
.topics .row:hover .ico_topic_read_hot_mine,
.topics .row:hover .ico_topic_unread_hot,
.topics .row:hover .ico_topic_unread_hot_mine,
.topics .row:hover .ico_topic_read_locked_hot,
.topics .row:hover .ico_topic_unread_locked_hot,
.topics .row:hover .ico_topic_read_locked,
.topics .row:hover .ico_topic_read_locked_mine,
.topics .row:hover .ico_topic_unread_locked,
.topics .row:hover .ico_topic_unread_locked_mine,
.topics .row:hover .ico_sticky_read,
.topics .row:hover .ico_sticky_read_hot,
.topics .row:hover .ico_sticky_read_hot_mine,
.topics .row:hover .ico_sticky_read_mine,
.topics .row:hover .ico_sticky_unread,
.topics .row:hover .ico_sticky_unread_hot,
.topics .row:hover .ico_sticky_unread_mine,
.topics .row:hover .ico_sticky_unread_hot_mine,
.topics .row:hover .ico_sticky_read_locked,
.topics .row:hover .ico_sticky_read_locked_mine,
.topics .row:hover .ico_sticky_unread_locked,
.topics .row:hover .ico_sticky_unread_locked_mine,
.topics .row:hover .ico_global_read,
.topics .row:hover .ico_global_read_mine,
.topics .row:hover .ico_global_unread,
.topics .row:hover .ico_global_unread_mine,
.topics .row:hover .ico_global_read_locked,
.topics .row:hover .ico_global_read_locked_mine,
.topics .row:hover .ico_global_unread_locked,
.topics .row:hover .ico_topic_event,
.topics .row:hover .ico_topic_event_unread,
.topics .row:hover .ico_topic_poll,
.topics .row:hover .ico_topic_poll_unread,
.topics .row:hover .ico_global_unread_locked_mine {
    background-color: #E1E1E1;
    color: #3C3C3C;
}

.forums .posts dfn, .forums .redirect span, .forums .topics dfn, .forums .redirect span, .topics .posts dfn, .topics .views dfn {
    color: #8d939e;
}
#foot-copyright {
    border-top-color: #f1f1f1;
}
#foot-copyright,
#foot-copyright a {
    color: #E1E1E1;
}

.side-block-body div:hover {
    background-color: #e1e1e1;
}

.well.unread {
    background-color: #fff;
}
/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */
ul.forums {
  background-color: #FAFAFA;
}
ul.topiclist li {
  color: #6C6C6C;
}
li.row strong {
  color: #9C9C9C;
}
li.header dt,
li.header dd {
    border-color: #BCBF97;
    font-weight: bolder;
    color: #333;
}

/* Post body styles
----------------------------------------*/
.postbody {
  border-color: #EBEBEB;
  color: #333333;
}
.postbody h3,
.postbody h3 a {
  color: #46494f;
}

/* Content container styles
----------------------------------------*/
.content {
  color: #555;
}
.content h2,
.panel h2 {
  color: #1f5795;
}
dl.faq dt {
  color: #333333;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
  border-color: #EBEBEB;
  color: #7C7C7C;
}

dd.profile-warnings {
  color: #BC2A4D;
}
/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */
.button {
  border-color: #2569b5;
  background-color: #2569b5;
  color: #fafafa;
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}
.dropdown-select {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #000000;
    border-color: rgba(0, 0, 0, 0.1);
  color: #4C4C4C;
}

.button:hover,
.nojs .dropdown-container:hover .dropdown-select {
  background-color: #1f5795;
  border-color: #1f5795;
  color: #ffffff;
}
.button:active,
.dropdown-visible .dropdown-select,
.nojs .dropdown-container:active .dropdown-select {
  background-color: #46494f;
  border-color: #46494f;
  color: #e7e7e7;
}
.dropdown-select:after {
    border-color: #000000;
    border-color: rgba(0, 0, 0, 0.075);
}

.dropdown-select:hover {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.025);
    border-color: #000000;
    border-color: rgba(0, 0, 0, 0.05);
  color: #4C4C4C;
}

.dropdown-select:active {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.05);
    border-color: #000000;
    border-color: rgba(0, 0, 0, 0.05);
  color: #4C4C4C;
}

.dropdown-visible .dropdown-select,
.dropdown-visible .dropdown-select:hover,
.nojs .dropdown-container:hover .dropdown-select {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.05);
    border-color: #000000;
    border-color: rgba(0, 0, 0, 0.05);
  color: #4C4C4C;
}

dd label {
  color: #333;
}

.panel-heading label{
	color:#fff;
}

#message-box textarea {
  color: #333333;
}


/* jQuery popups
---------------------------------------- */

.dropdown a {
  color: #46494f;
}
.dropdown a:hover {
  background-color: #fafafa;
  color: #46494f;
}
.dropdown-extended ul li:hover {
  color: #000000;
}
.dropdown-extended .header .header_settings a {
  background-color: transparent;
  color: #46494f;
}
.dropdown-extended .header .header_settings a:hover {
  background-color: #e7e7e7;
  color: #46494f;
}
.dropdown-extended .header,
.dropdown-extended .footer {
  background-color: #F5F5F5;
  border-color: #EBEBEB;
  color: #46494f;
}
.dropdown-extended .footer > a:hover {
  background-color: #e7e7e7;
}
.dropdown .pointer {
  border-color: #4575B4 transparent;
}
.dropdown .pointer-inner {
  border-color: #4575B4 transparent;
}
.dropdown-extended .pointer-inner {
  border-color: #F1F8FF transparent;
}
.dropdown .dropdown-contents {
    background: #fff;
    box-shadow: 0 0 20px #000000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.dropdown-up .dropdown-contents {
    box-shadow: 1px 0 5px #000000;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

.dropdown li,
.dropdown li li {
  border-color: #DCDCDC;
  color: #46494f;
}
.dropdown li.separator {
  border-color: #DCDCDC;
}
/* Notifications
---------------------------------------- */

.side-block {
    background-color: #ffffff;
    border-color: #EBEBEB;
}
.side-block {
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}
.side-block-head, .side-block-head > a {
    color: #767b85;
}
ul.topiclist li.forum-group {
    background-color: #d3d6a9;
    color: #fff;
    line-height: 1.4em;
}

ul.topiclist li.forum-group > h5 {
    padding: 6px;
    padding-bottom: 3px;
    padding-top: 12px;
    color: #fff;
}
    ul.topiclist li.forum-group > h5 a {
        font-weight: bolder;
    }
    ul.social-media > li {
        padding-right: 1px;
        padding-left: 1px;
    }
.panel-heading .accordion-toggle::before {
    color:#666;
}
.well.unread,.well.unread_mine{
	background-color:#fff;
}

a.arrow-left:hover {
    color: #368ad2;
}
#topic_rating{
	background-color: #efefef;
}
#site-footer-nav,
#site-footer {
    background-color: #7D7F66;
}

#site-footer-area {
    background-color: #7D7F66;
    border-top-color: #7D7F66;
}

#site-footer-area,
#site-footer-area a {
    color: #fff;
}

#site-footer-area h3,
#site-footer-area h5,
#site-footer-area h3 a,
#site-footer-area h5 a {
    color: #fff;
}
#site-footer-nav,
#site-footer-nav a {
    color: #fafafa;
}

#site-footer,
#site-footer a {
    color: #fff;
}
#foot-left,
#foot-center,
#foot-right,
#foot-left a,
#foot-center a,
#foot-right a {
    color: #fafafa;
}

#foot-left a:hover,
#foot-center a:hover,
#foot-right a:hover {
    color: #FFF;
}
#wrap-footer {
    font-size: 10px;
}
ul.userlist li.row.bg1 {
    border-bottom: 1px dotted lightgrey;
}
.dropdown-menu.topic-admin {
    background-color: #46494f;
}
.social-media a {
    text-decoration: none;
    color: #444;
}
.social-media a:hover {
    text-decoration: none;
    color: #111;
}

