@using SnitzConfig
Content-Type: text/html; charset=utf-8
<html>
<body>
<p>Hello @Html.Raw(Model.UserName),<br/></p>
    <p>@Html.Raw(Model.Message)</p>
    <p>&nbsp;</p>
    <p>Sent from @Html.Raw(Config.ForumTitle) by @Html.Raw(Model.FromUser)</p>
</body>
</html>





