@using SnitzConfig
Content-Type: text/html; charset=utf-8

<html>
<body>
    <p>Hello @Html.Raw(Model.UserName),</p>
    <p>
        @Html.Raw(Model.FromUser)  has commented on your image.
    </p>
    <hr />
    <p>You can view the comments <a href='@Model.Imagelink' title='link to image comments'>here</a></p>
</body>
</html>

