@using SnitzConfig
Content-Type: text/html; charset=utf-8

<html>
<body>
    <p>Hello @Html.Raw(Model.UserName),</p>
    <p>
        @Html.Raw(Model.FromUser)  has tagged you in a post.
    </p>
    <hr />
    <p>You can view the post <a href='@Model.Topiclink' title='link to new reply'>here</a></p>
</body>
</html>

