<?xml version="1.0"?>
<connectionStrings>
  <!-- Microsoft SQL -->
  <add name="SnitzConnectionString" connectionString="Data Source=MSSQLSERVER;Initial Catalog=YOURDATABASE;UID=USERNAME;PWD=PASSWORD;" providerName="System.Data.SqlClient" />
  <add name="SnitzMemberShip" connectionString="Data Source=MSSQLSERVER;Initial Catalog=YOURDATABASE;UID=USERNAME;PWD=PASSWORD;" providerName="System.Data.SqlClient" />

  <!-- MySQL 
  <add name="SnitzConnectionString" connectionString="Server=MYSQLSERVER;uid=USERNAME;pwd=PASSWORD;Database=YOURDATABASE" providerName="MySql.Data.MySqlClient" />
  <add name="SnitzMemberShip" connectionString="Server=MYSQLSERVER;uid=USERNAME;pwd=PASSWORD;Database=YOURDATABASE" providerName="MySql.Data.MySqlClient" />
  -->

  <!-- LocalDb 
  <add name="SnitzConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\SnitzForumMvc.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="SnitzMemberShip" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\SnitzForumMvc.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  -->

</connectionStrings>
