
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
    <h4 class="modal-title" id="myModalLabel">Privacy Statement:  How we use Cookies</h4>
</div>
<div class="modal-body clearfix">

    <p>Cookies are very small text files that are stored on your computer when you visit some websites.  </p>

    <p>We use cookies to help identify your computer so we can tailor your user experience.</p>

    <p>You can disable any cookies already stored on your computer, but these may stop our website from functioning properly.</p>

    <p>The following is strictly necessary in the operation of our website.<br/>
        <br/>
        <h5>This Website Will</h5>
Remember that you are logged in and that your session is secure and store some preferences.  You need to be logged in to use the forum functions.
        </p>
@*The following are not Strictly Necessary, but are required to provide you with the best user experience and also to tell us which pages you find most interesting (anonymously).

Functional Cookies

This Website Will:
Offer Live Chat Support (If available)
Track the pages you visits via Google Analytics*@

@*Targeting Cookies

This Website Will:
Allow you to share pages with social networks such as Facebook (If available)*@
</div>