@using SnitzConfig
@{
    string forumTitle = Uri.EscapeDataString(Config.ForumTitle ?? ClassicConfig.ForumTitle);
    string pageUrl = Uri.EscapeDataString(Request.Url.AbsoluteUri);
}

<ul class="list-inline social-media" >
    <li><a data-toggle="tooltip" data-title="Share with Facebook" class="btn-link fa fa-2x fa-facebook-square" target="_blank" href="http://www.facebook.com/share.php?u=@pageUrl&amp;title=@forumTitle"></a></li>
    <li><a data-toggle="tooltip" data-title="Share with Twitter" class="btn-link fa fa-2x fa-twitter-square" target="_blank" href="http://twitter.com/home?status=@forumTitle+@pageUrl"></a></li>
    <li><a data-toggle="tooltip" data-title="Share with Reddit" class="btn-link fa fa-2x fa-reddit-square" target="_blank" href="http://reddit.com/submit?url=@pageUrl&amp;title=@forumTitle"></a></li>
    <li><a data-toggle="tooltip" data-title="Share with Stumble" class="btn-link fa fa-2x fa-stumbleupon-circle" target="_blank" href="http://www.stumbleupon.com/submit?url=@pageUrl&amp;title=@forumTitle"></a></li>
    <li><a data-toggle="tooltip" data-title="Share with Digg" class="btn-link fa fa-2x fa-digg" target="_blank" href="http://digg.com/submit?url=@pageUrl&amp;title=@forumTitle"></a></li>
</ul>